<h1>Детальная информация</h1>
{{#each post}}
<h1>Название поста</h1>
{{this.title}}<br>
{{this.start}}
{{this.finish}}
{{this.location}}
{{this.lengthRoad}}
{{/each}}
{{#each comment}}
<h1> Комментарии </h1>
{{this.comment}}<br>
{{/each}}
<h1>Средний Рейтинг</h1>
{{result}}
<h1>Автор маршрута</h1>
{{name}}


{{!-- <h1>Комментарий</h1>
<form action="/posts/add" method="POST">
  <input type="text" name="title" value="" placeholder="Название маршрута"><br>
  <input type="text" name="start" value="" placeholder="Начало маршрута"><br>
  <input type="text" name="finish" value="" placeholder="Конец маршрута"><br>
  <input type="text" name="location" value="" placeholder="Населенный пункт"><br>
  <input type="text" name="lengthRoad" value="" placeholder="Растояние"><br>
  <input type="hidden" name="user_id"  value="{{user.ids}}" placeholder="Растояние"><br>

  <button type="submit">Ok</button>

</form> --}}
