<h1>Детальная информация</h1>
{{#each post}}
<h1>Название поста</h1>
{{this.title}}<br>
{{this.start}}
{{this.finish}}
{{this.location}}
{{this.lengthRoad}}
{{/each}}
<h1> Комментарии </h1>
{{#each comment}}
{{this.comment}}<br>
{{/each}}
<h1>Средний Рейтинг</h1>
{{result}}
<h1>Автор маршрута</h1>
{{name}}
<div class="voice">
  {{#if user.name}}
  <label for="grade"> Оцените маршрут</label>
  <select id="grade" name="grade">
    <option value="0" selected="selected">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  {{/if}}

</div>
<h1>{{error}} </h1>
{{#if user.name}}
<form action="/posts/addcomment" method="POST">
  <input type="text" name="comment" value="" placeholder="Название комментария"><br>
  <input type="hidden" name="user_id" value="{{user.ids}}">
  <button type="submit">Ok</button>
  <input type="hidden" name="post_id" value="{{#each post}}{{this.id}}{{/each}}">
</form>
{{/if}}
<script defer src="/js/grade.js"></script>
